@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInFromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInFromTop {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes slideInFromBottom {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  .slide-left {
    animation: slideInFromLeft 1s ease-out;
  }
  
  .slide-right {
    animation: slideInFromRight 1s ease-out;
  }
  
  .slide-top {
    animation: slideInFromTop 1s ease-out;
  }
  
  .slide-bottom {
    animation: slideInFromBottom 1s ease-out;
  }